[defaults]
inventory              = inventories/production/hosts.yml
roles_path             = roles
collections_paths      = ./collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking      = True
forks                  = 10
gathering              = smart
fact_caching           = jsonfile
fact_caching_connection = .ansible_cache
fact_caching_timeout   = 7200
stdout_callback        = yaml
bin_ansible_callbacks  = True
retry_files_enabled    = False
interpreter_python     = auto_silent
deprecation_warnings   = False
nocows                 = True

[privilege_escalation]
become                 = True
become_method          = sudo
become_user            = root
become_ask_pass        = False

[ssh_connection]
pipelining             = True
ssh_args               = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o PreferredAuthentications=publickey
control_path           = ~/.ssh/ansible-%%h-%%p-%%r
