{{ ansible_managed | comment }}
# Variables d'environnement pour le service openbao et la CLI bao locale.
BAO_ADDR=https://127.0.0.1:{{ openbao_api_port }}
BAO_CACERT={{ openbao_tls_dir }}/ca.crt
GOGC=100
